@import '../../../../shared/variables.css';

.searchComponent {
    position: relative;
    width: auto;
    height: 21px;
    margin: 10px 5px;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.3s cubic-bezier(.54,1.07,.66,.98);
    z-index: 1;

    input {
        border: 0;
        width: 150px;
        padding: 1px 5px 0;
    }

    button {
        font-family: 'blancblack_italic', arial, sans-serif;
        font-size: calc($fontSizeMobile); // 12px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: $foreground;
        border: 0;
        background-color: $tpbcYellow;
        padding: 2px 10px;
        margin-left: 5px;
    }

    span {
        display: none;
    }
}

@media (min-width: $breakpointTablet) {
    .searchComponent {
        position: absolute;
        margin: 0;
        height: 25px;
        right: 20px;
        top: 36px;
        width: 25px;

        &.open {
            width: 275px;
        }

        div {
            position: absolute;
            top: 0;
            right: 25px;
            width: 250px;
        }

        button {
            font-size: calc($fontSizeTablet); // 14px;
        }

        span {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 25px;
            height: 25px;
            background: url('../../../../shared/assets/img/search-icon.png') 0 0 no-repeat;
        }
    }
}
