@import '../../../../shared/variables.css';
@import '../../../../shared/mixins.css';

$dimensions: 32px;

.hamburger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 1;
    font-size: $dimensions;
    @mixin replace $dimensions $dimensions;
    z-index: 3;

    &::before {
        display: block;
        position: absolute;
        height: $dimensions;
        width: $dimensions;
        top: 0;
        left: 0;
        opacity: 1;
        text-indent: 0;
        text-align: center;
        transition: opacity 0.15s ease-out;
    }
    &.closed {
        &::before {
            content:'\2630'; // ☰
        }
    }
    &.open {
        &::before {
            content:'\276e'; // ❮
        }
    }
    &.transitionClosed {
        &::before {
            content:'\2630'; // ☰
            opacity: 0;
        }
    }
    &.transitionOpen {
        &::before {
            content:'\276e'; // ❮
            opacity: 0;
        }
    }
}

@media (min-width: $breakpointTablet) {
    .hamburger {
        display: none;
    }
}