@import '../../../../shared/variables.css';
@import '../../../../shared/mixins.css';

$dimensions: 32px;

.hamburger {
    color: $inverseForeground;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    font-size: $dimensions;
    @mixin replace $dimensions $dimensions;

    &::before {
        display: block;
        position: absolute;
        height: $dimensions;
        width: $dimensions;
        top: 0;
        left: -$dimensions;
    }

    &.closed {
        &::before {
            content:'\2630'; // ☰
        }
    }
    &.open {
        &::before {
            content:'\276e'; // ❮
        }
    }
}