@import '../../../../shared/variables.css';
.navigationMain {
    font-family: 'helvetica_neuethin';
    font-size: calc($fontSizeMobile * 2); // 28px
    letter-spacing: 1px;
    margin-top: 40px;

    li {
        display: block;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}

@media (min-width: $breakpointDesktop) {
    .navigationMain {
        font-size: calc($fontSizeTablet * 1.71428571428571); // 24px
        margin-top: 32px;
        padding-top: 0;

        li {
            display: inline-block;
            margin: 0 50px 0 0;
        }
    }
}