@import '../../../../shared/variables.css';
.navigationMain {
    font-family: 'helvetica_neuethin';
    font-size: calc($fontSizeMobile * 2); // 28px
    letter-spacing: 1px;

    li {
        display: block;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;

        &:link,
        &:visited {
            color: $inverseForeground;
        }
        &:hover,
        &:active {
            color: $tpbcYellow;
        }
    }
}

@media (min-width: $breakpointTablet) {
    .navigationMain {
        font-size: calc($fontSizeTablet * 2); // 24px
        padding-top: 5px;

        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
}