@import '../../../../shared/variables.css';
.navigationMain {
    font-family: 'helvetica_neuethin';
    font-size: calc($fontSizeMobile * 2); // 28px
    letter-spacing: 1px;

    li {
        display: block;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }
}

@media (min-width: $breakpointTablet) {
    .navigationMain {
        font-size: calc($fontSizeTablet * 1.71428571428571); // 24px
        margin-top: 32px;

        li {
            display: inline-block;
            margin-right: 50px;
        }
    }
}