@import './variables.css';

#page {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 0;
}

.colWrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 0 5px;
}

.col1,
.col2,
.col3 {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

article {
    padding: 0 5px;
}

@media (min-width: $breakpointTablet) {
    .col2,
    .col3 {
        width: 50%;
    }

    .colVariant01 {
        .col3:first-child {
            // If there are three columns and the first column is to expand the full width
            width: 100%;
        }
    }
}

@media (min-width: $breakpointDesktop) {
    .col2 {
        width: 66%;
    }
    .col3,
    .colVariant01 .col3:first-child {
        width: 33%;
    }
    .colWrapper {
        margin: 0 auto;
        padding: 0;
        max-width: $breakpointMaximum;
    }

    article {
        padding: 0;
        margin: 0 20px;
    }
}
