@import './variables.css';

body {
    background-color: $background;

    &.home {
        background-color: $inverseForeground;

        .site-content {
            padding: 0;
        }
    }
}

.blog, .archive, .category {
    .entry-header h1 {
        padding-top: calc($fontSizeMobile * 6); // 72px
        border-top: 1px solid $foreground;
    }
}

// Our sponsors
.post-2 {
    p {
        text-align: center;
    }
}

@media (min-width: $breakpointDesktop) {
    .blog .archive, .category {
        .entry-header h1 {
            padding-top: calc($fontSizeTablet * 3.42857142857143); // 48px
        }
    }

    // Our sponsors
    .post-2 {
        p {
            img {
                margin: 0 20px;
            }
        }
    }

    // Home page
    .sectionHomeContent {
        max-width: $breakpointMaximum;
    }
}