@import './variables.css';

// Our sponsors
.post-2 {
    p {
        text-align: center;
    }
}

@media (min-width: $breakpointDesktop) {
    // Our sponsors
    .post-2 {
        p {
            img {
                margin: 0 20px;
            }
        }
    }

    // Home page
    .sectionHomeContent {
        max-width: $breakpointMaximum;
    }
}