@import './variables.css';

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'helvetica_neuethin';
    text-transform: uppercase;
    margin-top: 0;
}


html {
    font-size: $fontSizeMobile;
}

h1, .h1 {
    font-size: calc($fontSizeMobile * 8.33333333333); // 116.6
}
h2, .h2 {
    font-size: calc($fontSizeMobile * 4); // 56px
}
@media (min-width: $breakpointTablet) {
    html {
        font-size: $fontSizeTablet;
    }

    h1, .h1 {
        font-size: calc($fontSizeTablet * 8.33333333333); // 100px
    }
    h2, .h2 {
        font-size: calc($fontSizeTablet * 4); // 48px
    }
}