/*Colours*/
$background: #ededed;
$foreground: #000;
$inverseBackground: #000;
$inverseForeground: #fff;
$tpbcRed: #ee3041;
$tpbcYellow: #faad57;

/*Dimensions*/
$breakpointTablet: 400px;
$breakpointDesktop: 800px;
$breakpointMaximum: 1400px;

$fontSizeMobile: 14px;
$fontSizeTable: 12px;