@import '../../shared/variables.css';

.wrapperHeader {
    background-color: $inverseBackground;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.header {
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: $breakpointMaximum;
    padding: 5px 0;

    .container {
        position: absolute;
        top: 0;
        left: -9999px;
        background-color: $inverseBackground;
        transition: left 0.3s cubic-bezier(.54,1.07,.66,.98);
    }
}

@media (min-width: $breakpointTablet) {
    .header {
        // React adds an extra div
        & > *, 
        & div > *{
            vertical-align: top;
        }
        .container {
            position: static;
            top: auto;
            left: auto;
            display: inline-block;
        }
    }
}
