@import '../../../../shared/variables.css';

.tpbc-logo {
    font-size: $fontSizeMobile;
    display: inline-block;
    margin: 0 0 0 20px;
}

@media (min-width: $breakpointDesktop) {
    .tpbc-logo {
        font-size: $fontSizeTablet;
    }
}